* {
   

margin: 0px;
padding: 0px;

}
body{
width: 100%;
height: 100dvh;

  margin:0px;
  padding:0px;
  background:#000000;

}
.btt{
        
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
            
       }  

span
{
  display:block;
  position:absolute;
  top:50dvh;
  left:50%;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 5s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
div span:nth-child(2){
  display:block;
  position:absolute;
 margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 5.4s linear infinite;
}
div span:nth-child(2)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}
div span:nth-child(3){
  display:block;
  position:absolute;
 margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 6s linear infinite;
}
div span:nth-child(3)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
div span:nth-child(4){
  display:block;
  position:absolute;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 6.5s linear infinite;
}
div span:nth-child(4)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}
div span:nth-child(5){
  display:block;
  position:absolute;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 6.2s linear infinite;
}
div span:nth-child(5)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
div span:nth-child(6){
  display:block;
  position:absolute;
margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animate 6.7s linear infinite;
}
div span:nth-child(6)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}


div span:nth-child(7){
  display:block;
  position:absolute;
margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animateC 6s linear infinite;
}
div span:nth-child(7)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
div span:nth-child(8){
  display:block;
  position:absolute;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animateC 5.9s linear infinite;
}
div span:nth-child(8)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}
div span:nth-child(9){
  display:block;
  position:absolute;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animateC 5.5s linear infinite;
}
div span:nth-child(9)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
div span:nth-child(10){
  display:block;
  position:absolute;
 margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animateC 7.2s linear infinite;
}
div span:nth-child(10)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}
div span:nth-child(11){
  display:block;
  position:absolute;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0;
  background:transparent;
  transform-origin:left;
  animation:animateC 6.7s linear infinite;
}
div span:nth-child(11)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}

div span:nth-child(12){
  display:block;
  position:absolute;
 margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  width:30dvh;
  height:0px;
  background:transparent;
  transform-origin:left;
  animation:animateC 6.1s linear infinite;
}
div span:nth-child(12)::before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#001aff;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #001aff;
}









@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(-360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
.ring{
  display: flex;
  position: absolute;
  z-index: 0;
  
  width: 100%;
  height: 100dvh;
}

.jeziki{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
 margin-left:auto;
    margin-right:auto;
    z-index: 2;
    width: 100%;

}
.flight{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 20vw;
  height: 50vh;
  left: 20vw;
  top: 15vh;

}

.aboutUs{
  display: none;
}
.contact{
         width: 100%;
            height: 100dvh;
            background-color: rgb(0, 0, 0);
        display: none;
        flex-direction: column  ;
        text-align: center  ;
            
            
            
            
       }
         
.engine{
            
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none;
            flex-direction: column  ;
            align-items: center;  
            justify-content: start;
            
            text-align: center;
            
       }
       .unity{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none;  
            flex-direction: column;
            align-items: center;
            text-align: center;
            
       }
       .websites{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none; 
            flex-direction: column;
            align-items: center;
            text-align: center;
       }
       .plumber{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none; 
            flex-direction: column;
            align-items: center;
            text-align: center;
       }

   .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
   }    

   .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
   }    

   .button0{
    display: none;
   }
   .slideshow-container{
    display: block;
    position: absolute;
    margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   }
   .fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}
   img{
    width: 60dvh;
    height: 60dvh;
    margin: 0px;
    padding: 0px;
    
   }
   a{
    display: flex;
    -webkit-tap-highlight-color: transparent;
   }
   h1{
     display: flex;
     font-size: 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 81, 255);
    
   }
   
   p{
   display: none;
   }

   div p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(251, 255, 0);
    font-size: 1.2vw;
    font-family: sans-serif;
   }
   button{
    
    -webkit-tap-highlight-color: transparent;
   }
   .button_lang{
   display: inline-block;
  
  text-align: center;
  
  width: 10vw;
  height: 10vw;
  width: 3vw;
  height: 3vw;
   }


.button7{
            display: block;
            position: absolute;
            left: 5vw;
            top: 3vw;
              z-index: 3;
            
                  
                  
                  
                  cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 50%;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 2.5em 0#eeff00, 0 0 2.5em 0#eeff00;
                  transition:all 0.5s;
      
            
       }  




       .button7 img{
        padding: 1vw;
        width: 2vw;
        height: 2vw;
       } 
.button8{
            display: block;
            position: absolute;
            left: 5vw;
            top: 10vw;
              z-index: 3;
            
                  
                  
                  
                  cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 50%;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 2.5em 0#eeff00, 0 0 2.5em 0#eeff00;
                  transition:all 0.5s;
      
            
       }  
.button8 img{
        padding: 1vw;
        width: 2vw;
        height: 2vw;
       } 
.button9{
            display: block;
            position: absolute;
            left: 5vw;
            top: 17vw;
              z-index: 3;
            
                  
                  
                  
                  cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 50%;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 2.5em 0#eeff00, 0 0 2.5em 0#eeff00;
                  transition:all 0.5s;
      
            
       }  
.button9 img{
        padding: 1vw;
        width: 2vw;
        height: 2vw;
       } 

.close
        {
          width: 20vw;
          height: 8vw;
          font-weight: bold;
          cursor: pointer;
            font-family: sans-serif, cursive;
            text-decoration: none;
            color: hsl(0, 0%, 100%);
            border: hsl(0, 100%, 50%) 3px solid;
            background-color:hsl(0, 100%, 50%);
            border-radius: 1em;
            text-shadow: 0 0 0em hsl(0 0% 100% / 0.3), 0 0 0em currentColor;
            box-shadow: inset 0 0 0em 0 hsl(0, 100%, 50%), 0 0 0em 0 hsl(0, 100%, 50%);
            transition:all 0.5s;
        } 
.btt{
        
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
            
       }  

 .btt2{
          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 1vw;
          width: 5.5vw ;
          height: 2.2vw;
          right: 1vw;
          bottom: 1vw;
       }    
.btt3{
        
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
            background-color: transparent ;
            border: none;
            margin: 1vw 1vw;
       }  



   
   .footer{
  
  display: none;
}
.footer p {
  
  display:none;
}
   .logo{
    display: none;
   }
 
   .klici{
    display: none;
   }
   .vstopi{
    display: none;
   }
.button0{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left:  5vw;
  bottom: 5vw;
}


   .button1{
    display: none;
   }
    .button2{
    display: none;
   }
    .button3{
    display: none;
   }
    .button4{
    display: none;
   }
    .button5{
    display: none;
   }
    .button6{
    display: none;
   }

























































































@media  (max-width:600px) and (orientation: portrait)

{
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    width: 100% ;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
}
.dropdown{
  display: none;
}

a{
  display: flex;
  position: static;
  align-items: center;
  justify-content: center;
  right:  5vw;
  bottom: 5vw;
  -webkit-tap-highlight-color: transparent;
}
h1{
  color:red;
  margin: 2vw;
  font-size: 7vw;
}
h2{
  color:red;
  margin: 2vw;
  font-size: 5.5vw;
}
h3{
  color: red;
  font-size: 4.8vw;
  margin: 3vw;
}
ol{
 
  width: 95%;
}
li{
  list-style-type: none;
  color: whitesmoke;
  font-size: 5vw;
  margin: 3vw;
  padding: 0px;
}

.ring{
  display: none;
}
.naslov{

  color: red;
  font-size: 5vw;
}
.cenik{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  color: whitesmoke;
  font-size: 5vw;
}
.polovica{
  display: flex;
  margin: 1vw;
  
}
.jeziki{
  display: flex;
 position: absolute;
  align-items: center;
  justify-content: center;
 margin-left:auto;
    margin-right:auto;
    z-index: 2;
    width: 100%;
  
}
.button_lang{
  display: inline-block;
  
  text-align: center;
  
  width: 10vw;
  height: 10vw;
  
  
}
.klici{
  display: flex;
}
.vstopi{
  display: flex;
}


.flight{
  display: none;}

.aboutUs{
            width: 100%;
            height: 100dvh;
            background-color: rgb(0, 0, 0);
            display: none;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            
            
      
       }

.contact{
         width: 100%;
            height: 100dvh;
            background-color: rgb(0, 0, 0);
        display: none;
        flex-direction: column  ;
        text-align: center  ;
            
            
            
            
       }
         
.engine{
            
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none;
            flex-direction: column  ;
            align-items: center;  
            justify-content: start;
            
            text-align: center;
            
       }
       .unity{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none;  
            flex-direction: column;
            align-items: center;
            text-align: center;
            
       }
       .websites{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none; 
            flex-direction: column;
            align-items: center;
            text-align: center;
       }
       .plumber{
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            display: none; 
            flex-direction: column;
            align-items: center;
            text-align: center;
       }
.button0{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left:  5vw;
  bottom: 5vw;
}



.btt{
        
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
            
       }  

 .btt2{
          position: fixed;
          font-size: 5vw;
          right: 5vw;
          bottom: 5vw;
       }     

  .btt3{
        
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
            background-color: transparent ;
            border: none;
            margin: 2vw 4vw;
       }  


.bton{
  
            font-size:4.5vw;
            
            padding: 3px;
            margin-top: 1vw;
            margin-bottom: 1vw;
            
            font-weight: bold;
            cursor: vertical-text;
            font-family: sans-serif, cursive;
            text-decoration: none;
            color: hsl(219, 100%, 50%);
            border: hsl(69, 100%, 50%) 3px solid;
            background-color:hsl(69, 100%, 50%);
            border-radius: 0.25em;
            text-shadow: 0 0 0 hsla(226, 100%, 50%, 0.3), 0 0 0 currentColor;
            box-shadow: inset 0 0 0em 0 hsl(69, 100%, 50%), 0 0 0 0 hsl(69, 100%, 50%);
            transition:all 0.5s;
       }

.close
        {
          width: 20vw;
          height: 8vw;
          font-weight: bold;
          cursor: pointer;
            font-family: sans-serif, cursive;
            text-decoration: none;
            color: hsl(0, 0%, 100%);
            border: hsl(0, 100%, 50%) 3px solid;
            background-color:hsl(0, 100%, 50%);
            border-radius: 1em;
            text-shadow: 0 0 0em hsl(0 0% 100% / 0.3), 0 0 0em currentColor;
            box-shadow: inset 0 0 0em 0 hsl(0, 100%, 50%), 0 0 0em 0 hsl(0, 100%, 50%);
            transition:all 0.5s;
        } 
.slika{
  margin-top: 10vw;;
}
.slika2{
  margin-top: 5vw;
  width: 80%;
  height: 20vh;
}
.slika3{
  width: 50vw;
  height: 50vw;
}

img{
    width: 65vw;
    height: 65vw;
}
.container{
  background: linear-gradient( yellow 50%, blue 50%);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100dvh;
    
 }
.container2{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100% ;
    
    
    
    
 }

    
 
    
     
    
    
    
 

.button1{
            display: none;
            position: absolute;
            left: 5vw;
            bottom: 35vh;

            width:40vw;
            height: 15vw;
                  font-size:6vw;
                  
                  
                  cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#eeff00, 0 0 0.5em 0#eeff00;
                  transition:all 0.5s;
      
            
       }   
       
  .button2{
                   display: none;
            position: absolute;
            left: 5vw;
            bottom: 25vh;
                    width:40vw;
            height: 15vw;
            font-size:6vw;
            
                  cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#eeff00;
                  font-weight: bold;
                  border:#008cff 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 hsl(0 0% 100% / 0.3), 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#008cff, 0 0 0.5em 0#008cff;
                  transition:all 0.5s;
             
            
       }  
   .button3{
            display: none;
            position: absolute;
            left: 5vw;
            bottom: 15vh;
            width:40vw;
            height: 15vw;
            font-size:6vw;
            
           cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#eeff00, 0 0 0.5em 0#eeff00;
                  transition:all 0.5s;
             
       }      
       
    .button4{
          display: none;
               position: absolute;
            right: 5vw;
            bottom: 35vh;
             width:40vw;
             height: 15vw;
             font-size:6vw;
             
           cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#eeff00;
                  font-weight: bold;
                  border:#008cff 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 hsl(0 0% 100% / 0.3), 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#008cff, 0 0 0.5em 0#008cff;
                  transition:all 0.5s;
    }
    .button5{
            display: none;
              position: absolute;
            right: 5vw;
            bottom: 25vh;
            width:40vw;
            height: 15vw;
            font-size:6vw;
            
           cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#008cff;
                  font-weight: bold;
                  border:#eeff00 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 #008cff, 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#eeff00, 0 0 0.5em 0#eeff00;
                  transition:all 0.5s;
            
       }
    .button6{
             display: none;
               position: absolute;
            right: 5vw;
            bottom: 15vh;
             width:40vw;
             height: 15vw;
             font-size:6vw;
             
           cursor: pointer;
                  font-family: sans-serif, cursive;
                  text-decoration: none;
                  color:#eeff00;
                  font-weight: bold;
                  border:#008cff 3px solid;
                  background-color:transparent;
                  border-radius: 1.2em;
                  text-shadow: 0 0 0 hsl(0 0% 100% / 0.3), 0 0 0 currentColor;
                  box-shadow: inset 0 0 0.5em 0#008cff, 0 0 0.5em 0#008cff;
                  transition:all 0.5s;
             
       }
.button7{
  display: none;
}
.button8{
  display: none;
}
.button9{
  display: none;
}
       .inlin{
        display: static;
        
  
     }
.icons{
  
  width: 15vw;
  height: 15vw;
  z-index: 2;
}
.icon1{
  position: absolute;
  left: 3vw; 
  top: 52.5%;
}
.icon2{
  position: absolute;
  right: 3vw  ;
  top: 52.5%;
}
.icon3{
  position: absolute;
  right: 3vw ;
  top: 37.5%;
}
.icon4{
  position: absolute;
  left: 3vw;
  top: 37.5%;
}
.icon5{
  position: absolute;
  left: 3vw;
  top: 22.5%;
}
.icon6{
  position: absolute;
  right: 3vw;
  top: 22.5%;
}
.icon7{
  position: absolute;
  left: 3vw;
  top: 67.5%;
}
.icon8{
  position: absolute;
  right: 3vw; 
  top: 67.5%;
}
.icon9{ 
  position: absolute;
  left: 30%;
  top: 22.5%; 
}
.icon10{
  position: absolute;
  right: 30%;
  top: 22.5%;
}
.icon11{
  display: flex;
  position: absolute;
  right:5vw;
  bottom: 5vw;
}



.slideshow-container {
  
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

.logo{
        display: flex;
        position: absolute;
        align-items: center;
        bottom: 10vw;
        width: 9vw;
        height: 9vw;
        -webkit-tap-highlight-color: transparent;

}      

.footer{
  display: flex;
  position: absolute;
 
  justify-content: center;
  
  font-size: 3vw;
 bottom: 0;
 width: 100%;
        height: 6vw;
  color: whitesmoke;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: end;
   text-align: center;
  font-size: 3vw;
  margin: 0px;
  padding: 0px;
  
}
p{
  display: block;
  color: whitesmoke;
  font-size: 5vw;
  margin: 0vw;
  padding: 0px;
}
}







































































